body {
    background-image: url('photo-1531297484001-80022131f5a1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif
}
#menu {
    font-family: 'Comic Sans MS';
    letter-spacing: 0.3em;
    word-spacing: 0.2em;
    margin: 10px;
    padding-left: 25px;
    padding: 10px;
    float: right;
    position: fixed;
    right: 0;
}

ul {
    list-style-type: none;
}

#menu li a {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display:block;
    background-color: lightgray;
    color: black;
    padding: 10px 10px 10px 25px;
    margin:10px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    float: right;
}

h3{
    color:white;
}

