body {
    background-image: url('photo-1531297484001-80022131f5a1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}
#menu {
    font-family: 'Comic Sans MS';
    letter-spacing: 0.3em;
    word-spacing: 0.2em;
    margin: 10px;
    padding-left: 25px;
}
