body {
    background-image: url('photo-1531297484001-80022131f5a1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

ul li {
    display: inline-block;
    top: 0;
    align-content: center;
}

#menu {
    letter-spacing: 0.3em;
    word-spacing: 0.2em;
}

ul {
    list-style-type: none;
}

#menu li a {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: lightgray;
    color: black;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
}

h3{
    color:white;
}

